@media screen and (min-width: 1250px) and (max-width: 1500px) {
  /* ABOUT US PAGE START HERE  */
  .info-text {
    font-size: 20px;
  }
  .info-name {
    font-size: 40px;
  }
  .info-text-2 {
    font-size: 16px;
  }
}
