@media screen and (max-width: 480px) {
  .start-div{
    font-size: 13px;
  }
  .header-logo {
    width: 100px;
  }
  .bg-1 {
    height: 458px;
  }
  .start-div:hover {
    font-size: 12px;
  }
  .banner-text-1 {
    font-size: 30px;
    padding-top: 50px;
    line-height: 40px;
  }
  .banner-text-2 {
    font-size: 18px;
  }
  .brushed {
    font-size: 18px;
  }
  .excel-tetx {
    font-size: 17px;
  }
  .pilot-text {
    font-size: 17px;
  }
  .third-bg {
    padding-top: 47px;
    height: 320px;
  }
  .third-bg-head {
    font-size: 26px;
  }
  .third-bg-para {
    font-size: 12px;
    width: 100%;
  }
  .second-session-head {
    font-size: 25px;
  }

  .explore-img {
    width: 100%;
  }
  .explore-text {
    font-size: 23px;
    bottom: 40px;
  }
  .explore-text-2 {
    font-size: 13px;
    bottom: 27px;
  }
  .category-text {
    font-size: 22px;
  }
  .category-text-2 {
    font-size: 12px;
  }
  .for-pads {
    padding-top: 20px;
    padding-left: 10px;
  }
  .good-read-text {
    font-size: 17px;
  }
  .read-more-bts {
    width: 110px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .footer-end-div {
    font-size: 12px;
  }
  .cards-parent-box {
    width: 100%;
  }
  .explore-borders {
    margin-top: 50px;
  }
  .trend-mirros {
    font-size: 28px;
  }
  .custom-tabs button {
    font-size: 16px;
  }
  .mirror-img {
    height: 100%;
  }
  .frames-heading {
    font-size: 20px;
  }

  .frames-para-2 {
    font-size: 12px;
  }
  /* ABOUT US PAGE START HERE  */
  .about-us-banner {
    height: 200px;
  }
  .about-heading {
    font-size: 16px;
  }
  .border-line {
    display: none;
  }
  .count-number {
    font-size: 35px;
  }
  .count-against {
    font-size: 12px;
  }
  .info-text {
    font-size: 15px;
    padding-top: 10px;
  }
  .info-name {
    font-size: 30px;
  }
  .info-text-2 {
    font-size: 12px;
  }
  .blue-bg {
    margin-top: 50px;
    padding-top: 40px;
  }
  .choose-head {
    font-size: 20px;
    width: 100%;
  }
  .choose-para {
    font-size: 12px;
  }

  .banner-about-bg {
    margin-top: 50px;
    padding-top: 90px;
    height: 505px;
  }

  /* CONTACT US PAGE START HERE  */
  .contactus-bg {
    height: 400px;
  }
  .contact-head {
    font-size: 35px;
    padding-top: 55px;
  }
  .contact-para {
    font-size: 18px;
  }
  .contact-parent-box {
    width: 95%;
  }
  .contact-parent-text {
    font-size: 30px;
  }
  .input-field-1 {
    font-size: 13px;
  }
  .input-text {
    font-size: 14px;
  }
  .message-box {
    font-size: 14px;
  }

  /* FAQS PAGE START HERE  */
  .frequent-head {
    font-size: 22px;
    text-wrap: nowrap;
  }
  .accordion-header {
    font-size: 12px;
  }
  .accordion-content {
    font-size: 14px;
  }

  /* PRIVACY PAGE START HERE  */
  .privacy-text {
    font-size: 12px;
  }
  .privacy-title {
    font-size: 18px;
  }

  /* TERMS PAGE START HERE  */
  .terms-text {
    font-size: 12px;
  }
  .terms-list {
    font-size: 12px;
  }

  /* DETAILS PAGES START HERE  */
  .detail-text-1 {
    font-size: 25px;
  }
  .detail-text-second {
    font-size: 20px;
  }
  .detail-text-paragraphs {
    font-size: 13px;
  }
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .header-logo {
    width: 100px;
  }
  .bg-1 {
    height: 458px;
  }
  .start-div:hover {
    font-size: 12px;
  }
  .banner-text-1 {
    font-size: 30px;
    padding-top: 50px;
    line-height: 40px;
  }
  .banner-text-2 {
    font-size: 18px;
  }
  .brushed {
    font-size: 18px;
  }
  .excel-tetx {
    font-size: 17px;
  }
  .pilot-text {
    font-size: 17px;
  }
  .third-bg {
    padding-top: 47px;
    height: 320px;
  }
  .third-bg-head {
    font-size: 26px;
  }
  .third-bg-para {
    font-size: 12px;
    width: 100%;
  }
  .nav-links a {
    font-size: 12px;
  }
  .second-session-head {
    font-size: 30px;
  }
  .explore-img {
    width: 100%;
  }
  .explore-text {
    font-size: 28px;
    bottom: 40px;
  }
  .explore-text-2 {
    font-size: 16px;
    bottom: 27px;
  }
  .category-text {
    font-size: 25px;
  }
  .category-text-2 {
    font-size: 14px;
  }
  .for-pads {
    padding-top: 20px;
    padding-left: 10px;
  }
  .good-read-text {
    font-size: 20px;
  }
  .read-more-bts {
    width: 120px;
    height: 45px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .trend-mirros {
    font-size: 32px;
  }
  .custom-tabs button {
    font-size: 19px;
  }
  .frames-heading {
    font-size: 23px;
  }

  /* ABOUT US PAGE START HERE  */
  .about-us-banner {
    height: 400px;
  }
  .about-heading {
    font-size: 19px;
  }
  .count-number {
    font-size: 40px;
  }
  .count-against {
    font-size: 12px;
  }
  .info-text {
    font-size: 20px;
    padding-top: 10px;
  }
  .info-name {
    font-size: 35px;
  }
  .info-text-2 {
    font-size: 14px;
  }
  .blue-bg {
    margin-top: 50px;
    padding-top: 40px;
    height: fit-content;
    padding-bottom: 40px;
  }
  .choose-head {
    font-size: 25px;
    width: 100%;
  }
  .choose-para {
    font-size: 14px;
  }
  .banner-about-bg {
    margin-top: 50px;
    padding-top: 150px;
  }

  /* CONTACT US PAGE START HERE  */
  .contactus-bg {
    height: 500px;
  }
  .contact-head {
    font-size: 45px;
    padding-top: 100px;
  }
  .contact-para {
    font-size: 22px;
  }
  .contact-parent-box {
    width: 95%;
  }
  .contact-parent-text {
    font-size: 40px;
  }
  .input-field-1 {
    font-size: 16px;
  }
  .input-text {
    font-size: 16px;
  }
  .message-box {
    font-size: 16px;
  }

  /* FAQS PAGE START HERE  */
  .frequent-head {
    font-size: 30px;
    text-wrap: nowrap;
  }
  .accordion-header {
    font-size: 14px;
  }
  .accordion-content {
    font-size: 14px;
  }

  /* PRIVACY PAGE START HERE  */
  .privacy-text {
    font-size: 14px;
  }
  .privacy-title {
    font-size: 24px;
  }
  /* TERMS PAGE START HERE  */
  .terms-text {
    font-size: 14px;
  }
  .terms-list {
    font-size: 14px;
  }

  /* DETAILS PAGES START HERE  */
  .detail-text-1 {
    font-size: 30px;
  }
  .detail-text-second {
    font-size: 25px;
  }
  .detail-text-paragraphs {
    font-size: 15px;
  }
}
